#include "windows.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

IDI_TETRIS				ICON			"tetris.ico"
IDB_RECT				BITMAP			"rect.bmp"
IDR_MANIFEST			RT_MANIFEST		"tetris.exe.manifest"
STRINGTABLE
BEGIN
	IDS_APP_TITLE			"Tetris"
	IDC_TETRIS				"TETRIS"
END

